<form action="/names" method="post">
  <div class="">
    <label for="p1_name">Player one</label>
    <input type="text" name="p1_name" value="insert name">
  </div>

  <div class="">
    <label for="p2_name">Player two</label>
    <input type="text" name="p2_name" value="insert name">
  </div>

  <div class="">
    <input id="submit_players" type="submit" name="submit_players" value="Submit">
  </div>
</form>
